.elementselected-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 50px;
    width: 300px;
    background-color: #8a8a8a;
    border-radius: 15px;
    font-weight: 500;
}