.topicpage-wrapper{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    width: 1030px;
    margin-left: 380px;
    padding-top: 60px;
    color: black;
}

.les-titles{
    margin-bottom: 0;
}

.les-description{
    margin-bottom: 0;
}

.quiz-btn-wrapper{
    display: flex;
    justify-content: center;
}

.quiz-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: #00597E;
}